LOCAL_REDIS_DIR=~/data/ttra/redis
LOCAL_POSTGRES_DIR=~/data/ttra/postgres
NODE_ENV=development
POSTGRES_USER=ttra
POSTGRES_PASSWORD=OgByIMXoOkj-xX48E7X8tQ
POSTGRES_DB=ttra

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TR_WORKSPACE_SID=

TWILIO_SYNC_SERVICE_SID=
TWILIO_CHAT_SERVICE_SID=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1
